<mat-card>
    <mat-card-title-group>
        <mat-card-title>
            {{preview.name}}
        </mat-card-title>
        <mat-card-subtitle>
            <div>
                {{preview.description}}
            </div>
            <div>
                created at {{preview.createdAt | date: 'long'}}
            </div>
        </mat-card-subtitle>
    </mat-card-title-group>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox [checked]="preview.shuffleQuestions" (change)="onShuffleClick($event)">
            Shuffle questions on every challenge
        </mat-checkbox>
    </mat-expansion-panel>
    
    <mat-card-actions>
        <button mat-button (click)="onPassClick()">TEST YOUR MIGHT</button>
        <button mat-button (click)="onShareClick()">SHARE</button>
        <button mat-button color="warn" (click)="onDeleteClick()">DELETE</button>
    </mat-card-actions>

</mat-card>