<div class="container-center">
    <h1 style="margin-bottom: 30px;">Poll your students. Free. Opensource.</h1>

    <mat-tab-group mat-stretch-tabs color="primary" class="w-100">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">accessibility_new</mat-icon>
                Easy to start
            </ng-template>
            <div class="container-center">
                <h3> Just sign up and create your first test!</h3>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">assignment_turned_in</mat-icon>
                For tutors
            </ng-template>
            <div class="container-center">
                <h3> Create, share and check polls</h3>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">pan_tool</mat-icon>
                For students
            </ng-template>
            <div class="container-center">
                <h3> Challenge and see results just in time </h3>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
