<div class="menu-container">
	<button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #menu>
		<button mat-menu-item (click)="onProfileClick()" *ngIf="loggedIn">
			<mat-icon class="nav-link-icon">account_box</mat-icon>
			<span class="nav-link-text">Profile</span>
		</button>
		<button mat-menu-item (click)="onMyTestsClick()" *ngIf="loggedIn && isTutor">
			<mat-icon class="nav-link-icon">assignment</mat-icon>
			<span class="nav-link-text">My tests</span>
		</button>
		<button mat-menu-item routerLink="/new" *ngIf="loggedIn">
			<mat-icon class="nav-link-icon">content_paste</mat-icon>
			<span class="nav-link-text">Create</span>
		</button>
		<button mat-menu-item (click)="onSignInClick()" *ngIf="!loggedIn">
			<mat-icon class="nav-link-icon">arrow_forward</mat-icon>
			<span class="nav-link-text">Sign in</span>
		</button>
		<button mat-menu-item (click)="onSignUpClick()" *ngIf="!loggedIn">
			<mat-icon class="nav-link-icon">account_box</mat-icon>
			<span class="nav-link-text">Sign up</span>
		</button>
		<button mat-menu-item (click)="onLeaveClick()" *ngIf="loggedIn">
			<mat-icon class="nav-link-icon">arrow_back</mat-icon>
			<span class="nav-link-text">Leave</span>
		</button>
	</mat-menu>
</div>