<div class="container-fluid-center">

	<h1>
		Welcome back!
	</h1>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">

		<mat-form-field>
			<mat-label>Email</mat-label>
			<input matInput type="email" [formControl]="form.email">
			<mat-error>
				Please, type a valid email
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Password</mat-label>
			<input matInput type="password" [formControl]="form.password">
			<mat-error>
				Please, enter your password
			</mat-error>
		</mat-form-field>

		<div class="container-center">
			<button mat-raised-button type="submit" [disabled]="form.invalid || isSent">Come in</button>
		</div>
	</form>
</div>